*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about{
    padding: 80px 100px;
    background-image: url(https://i.23robo.info/projects/growfollows/img/fastest-bg.webp), url(https://i.23robo.info/projects/growfollows/img/whychoose-dots.webp);
    background-position: top center, center;
    background-repeat: no-repeat;
    text-align: center;
    background-color: #000000;
    position: relative;
}

.about span{
    color: #CD36E7;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.6;
    margin-bottom: 0;
}

.about h2{
    font-size: 36px;
    font-weight: 600;
    line-height: 1.5;
    background: linear-gradient(90deg, #FFF 0%, #3A393D 101.62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about p{
    color: #B7B7B8;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5;
    margin-top: 20px;
}

.ceo-box{
    width: 35%;
    height: 20vh;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.ceo-box h4{
    margin-top: 20px;
}

.growfollow-box{
    width: 100%;
    height: 40vh;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.growfollow-box div{
    width: 50%;
    text-align: left;
}

.growfollow-box div h2{
    font-size: 50px;
    font-weight: 600;
    line-height: 1.5;
    background: linear-gradient(90deg, #FFF 0%, #3A393D 101.62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.background-1{
    position: absolute;
    left: 0;
    width: 400px;
    height: 400px;
    overflow: hidden;
    top: 45%;
    z-index: 333;
}

.background-2{
    position: absolute;
    right: 0;
    width: 400px;
    height: 400px;
    overflow: hidden;
    top: 60%;
    z-index: 333;
}

.background-1 img , .background-2 img{
    width: 100%;
}

.flash span:nth-child(1){
    width: 281.432px;
    height: 281.432px;
    border-radius: 281.432px;
    background: #CD36E7;
    filter: blur(225px);
    position: absolute;
    z-index: 0;
    left: 0;
    opacity: 50%;
    top: 45%;
}

.flash span:nth-child(2){
    width: 281.432px;
    height: 281.432px;
    border-radius: 281.432px;
    background: #CD36E7;
    filter: blur(225px);
    position: absolute;
    z-index: 0;
    right: 0;
    opacity: 50%;
    top: 70%;
}

.choose-flex{
    width: 100%;
    padding: 20px 30px ;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.choose-one{
        width: 400px;
    padding: 20px 45px 20px 20px;
    text-align: left;
    background: linear-gradient(180deg, #0D070F 0%, #0C040E 100%);
}

.choose-one h3{
    color: #CD36E7;
    font-size: 30px;
}

.choose-one h1{
    color: white;
    margin-top: 10px;
}

.choose-tow{
    border-radius: 15px 15px 0px 0px;
    padding: 25px 24px;
    background: url(https://i.23robo.info/projects/growfollows/img/btn-bg-lines.webp), url(https://i.23robo.info/projects/growfollows/img/btn-dots.webp), linear-gradient(180deg, #CD36E7 0%, #7D19AF 100%);
    background-repeat: repeat;
    filter: drop-shadow(-1px -7px 15.3px rgba(205, 54, 231, 0.78));
    box-shadow: 0px 8px 7.3px 0px rgba(255, 255, 255, 0.21) inset;
    border-top: 1px solid rgba(255, 255, 255, 56%);
    border-left: 1px solid rgba(255, 255, 255, 0%);
    border-right: 1px solid rgba(255, 255, 255, 0%);
    border-bottom: 1px solid rgba(255, 255, 255, 0%);
    width: 450px;
    height: 400px;
    text-align: left;
}

.choose-tow h3{
    font-size: 35px;
}

.choose-tow h1{
    margin-top: 10px;
}

.choose-tow a{
    color: black;
    cursor: pointer;
}

.choose-three{
    width: 400px;
    padding: 20px 20px 20px 45px;
    text-align: left;
    background: linear-gradient(180deg, #0D070F 0%, #0C040E 100%);
}

.choose-three h3{
    color: #CD36E7;
    font-size: 30px;
}

.choose-three h1{
    color: white;
    margin-top: 10px;
}

@media screen and (max-width:1200px) and (min-width:980px) {
    .choose-one h1, .choose-tow h1, .choose-three h1{
        font-size: 25px;
    }
    .choose-flex{
        padding: 30px 0 0 0;
    }
    .growfollow-box div h2{
        font-size: 35px;
    }
}

@media screen and (max-width:980px) and (min-width:700px) {
    .choose-one h1, .choose-tow h1, .choose-three h1{
        font-size: 25px;
    }
    .choose-flex{
        padding: 30px 0 0 0;
        flex-direction: column;
    }
    .growfollow-box div h2{
        font-size: 35px;
    }
    .growfollow-box{
        flex-direction: column;
    }
    .growfollow-box div{
        width: 100%;
    }
    .choose-one{
        width: 100%;
        margin-bottom: 20px;
    }
    .choose-three{
        width: 100%;
        margin-top: 30px;
    }
}

@media screen and (max-width:700px) and (min-width:500px) {
    .choose-one h1, .choose-tow h1, .choose-three h1{
        font-size: 25px;
    }
    .choose-flex{
        padding: 30px 0 0 0;
        flex-direction: column;
    }
    .growfollow-box div h2{
        font-size: 35px;
    }
    .growfollow-box{
        flex-direction: column;
        margin-bottom: 30px;
    }
    .growfollow-box div{
        width: 100%;
    }
    .choose-one{
        width: 100%;
        margin-bottom: 20px;
    }
    .choose-three{
        width: 100%;
        margin-top: 30px;
    }
    .choose-tow{
        width: auto;
    }
}

@media screen and (max-width:500px) and (min-width:320px) {
    .about p{
        font-size: 14px;
    }
    .about{
        padding: 80px 30px;
    }
    .choose-one h1, .choose-tow h1, .choose-three h1{
        font-size: 25px;
    }
    .choose-flex{
        padding: 30px 0 0 0;
        flex-direction: column;
    }
    .growfollow-box div h2{
        font-size: 35px;
    }
    .growfollow-box{
        flex-direction: column;
        margin-bottom: 30px;
    }
    .growfollow-box div{
        width: 100%;
    }
    .choose-one{
        width: 100%;
        margin-bottom: 20px;
    }
    .choose-three{
        width: 100%;
        margin-top: 30px;
    }
    .choose-tow{
        width: auto;
    }
    .background-1{
        width: auto;
    }
}